@tailwind base;
@tailwind components;
@tailwind utilities;

input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus, input:-webkit-autofill:active{ -webkit-box-shadow: 0 0 0 30px white inset !important; }

@font-face {
        font-family: "Argent CF";
        src: url("../public/assets/fonts/argentCF/Fontspring-DEMO-argentcf-thin.otf");
        font-weight: 400;
      }
      @font-face {
        font-family: "Argent CF";
        src: url("../public/assets/fonts/argentCF/Fontspring-DEMO-argentcf-light.otf");
        font-weight: 500;
      }
      @font-face {
        font-family: "Argent CF";
        src: url("../public/assets/fonts/argentCF/Fontspring-DEMO-argentcf-demibold.otf");
        font-weight: 700;
        letter-spacing: 0.035em;
      }